
Debug/
Release/
build/
.vscode

*.o
*.d
*.su
*.elf
*.hex
*.bin
*.map
*.list
*.srec

.metadata/
.recommenders/
*.log

*.launch

*.bak
*.tmp
*.prev

.DS_Store
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
Desktop.ini